@(product: Form[CreateProductForm], category: Seq[Category])(implicit request: MessagesRequestHeader)

    @import helper._

    @request.flash.get("success").map { key =>
        @request.messages(key)
    }

    @main("Add product") {
        @form(CSRF(routes.ProductController.addProduct())) {
            @inputText(product("productName"))
            @inputText(product("productDescription"))

            <select name="categoryID" id="categoryID">
            @for(cat <- category){
                <option value="@cat.categoryID">@cat.categoryName</option>
            }
            </select>

            @inputText(product("productPriceNet"))
            @inputText(product("productPriceGross"))

            <div class="buttons">
                <input type="submit" value="Add Product"/>
            </div>
        }
    }
