@(order: Form[CreateOrderForm], user: Seq[User], product: Seq[Product])(implicit request: MessagesRequestHeader)

    @import helper._

    @request.flash.get("success").map { key =>
        @request.messages(key)
    }

    @main("Add order") {
        @form(CSRF(routes.OrderController.addOrder())) {
            <p>Who makes the order?</p>
            <select name="userID" id="userID">
            @for(usr <- user){
                <option value="@usr.userID">@usr.userFirstname</option>
            }
            </select>
            <p></p>
            @inputText(order("orderAddress"))
            @inputText(order("orderDetailsPriceNet"))
            @inputText(order("orderDetailsPriceGross"))
            <p>Which product?</p>
            <select name="productID" id="productID">
            @for(prod <- product){
                <option value="@prod.productID">@prod.productName</option>
            }
            </select>
            <p>How many?</p>
            @inputText(order("productQuantity"))

            <div class="buttons">
                <input type="submit" value="Add Order"/>
            </div>
        }
    }
