@(message: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Play") {

    <p>@message</p>
    <br/>
    <p>Products</p>
    <a href="/addproduct">Create new product</a><br/>
    <a href="/products">Show all products</a><br/>
    <a href="/products/:id">Show product by ID</a><br/>
    <a href="/products/byName/:name">Show product by name</a><br/>
    <a href="/products/byCategory/:id">Show product by categoryID</a><br/><br/>
    <p>Category</p>
    <a href="/addcategory">Create new category</a><br/>
    <a href="/categories">Show all categories</a><br/>
    <a href="/categories/:id">Show category by ID</a><br/>
    <a href="/categories/byName/:name">Show category by name</a><br/><br/>
    <p>Users</p>
    <a href="/adduser">Create new user</a><br/>
    <a href="/users">Show all users</a><br/>
    <a href="/users/:id">Show user by ID</a><br/><br/>
    <p>Orders</p>
    <a href="/addorder">Create new order</a><br/>
    <a href="/orders">Show all orders</a><br/>
    <a href="/orders/:id">Show order by ID</a><br/>
    <a href="/orders/byUser/:id">Show order by userID</a><br/><br/>
    @*
     * Get an `Html` object by calling the built-in Play welcome
     * template and passing a `String` message.
     *@
    @*
     * welcome(message, style = "scala")
     *@
}